@import '@styles';

.form {
  width: clamp(200px, 100%, 420px);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-inline: clamp(5px, 5vw, 30px);
  gap: 30px;

  Button {
    width: 100%;
    margin-top: 10px;
  }

  .title {
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    color: $white;
  }
}

.inputsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: $deep-dark-purple-30;
  padding: 40px 5%;
  row-gap: 25px;
  column-gap: clamp(5px, 5vw, 20px);
  border-radius: 20px;

  >div:first-child {
    width: 100%;
  }

  >div:last-child {
    justify-self: flex-end;
    margin-left: auto;
    margin-right: clamp(5px, 5vw, 25px);
  }
}

.rowWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @media (max-width: 374px) {
    flex-wrap: wrap-reverse;
    gap: 8px;
  }
}

.columnWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 16px;

  @media (max-width: 374px) {
    flex-wrap: wrap-reverse;
    gap: 8px;
  }
}