@use '@/shared/styles' as *;

.wrapper {
    @include Flex($justify: space-between);
    width: 100%;
    gap: 10px;
    padding: 10px 15px 20px;
    background-color: $black-50;
    border-bottom: 1px solid $logo-yellow;
    border-radius: 8px;
    transition: ease all 0.2s;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
        border-bottom: 1px solid $light-green-neon;
    }

    &__active {
        box-shadow: $shadow-box-perimeter;
        border-bottom: 1px solid $light-green-neon;
        padding-block: 25px 15px;
        background: $deep-dark-purple-70;

        > :nth-child(3) {
            gap: 20px;
            align-items: flex-end;
            justify-content: center;
            margin-top: 20px;
        }
    }
}

.rowWrapper {
    @include Flex($direction: row, $justify: space-between);
    position: relative;
    width: 100%;
    gap: 15px;
}

.columnWrapper {
    @include Flex($justify: flex-start, $align: flex-start);
    width: 100%;
    gap: 5px;

    &.summary {
        padding: 5px 10%;
    }
}

.comments {
    font-size: 12px;
    color: $grey;
    padding-left: 15px;
}

.text {
    font-size: 14px;
}

.description {
    font-size: 16px;
    font-weight: 300;
    line-height: 19.07px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: $black-50;
    border-radius: 8px;
    padding: 10px;
    flex: 1;
    margin-right: 10px;
}

.subtitle {
    @include Text;
    color: $purple;
    align-self: center;
    margin-top: 20px;
}

.error {
    @include ErrorMessage;
    top: -30px;
    left: 0;
}