@use '@/shared/styles' as *;

.container {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    >button {
        width: 120px;
        font-size: 0.9rem;
    }

    >svg {
        animation: move 4s infinite;

        //body
        & path:nth-child(2) {
            transform-origin: center center;
            animation:
                pendulum 1s infinite;
        }

        //stars
        & path:nth-child(10) {
            transform-origin: center center;
            animation: scale-stars 1.5s infinite,
                disco 1s infinite;
            animation-delay: 1s;
        }

        & path:nth-child(9) {
            transform-origin: center center;
            animation: scale-stars 1.5s infinite,
                disco 1s infinite;
            animation-delay: 2s;
        }

        & path:nth-child(8) {
            transform-origin: center center;
            animation: scale-stars 1.5s infinite,
                disco 1s infinite;
            animation-delay: 0.8s;
        }

        & path:nth-child(11) {
            transform-origin: center center;
            animation: scale-stars 1.5s infinite,
                disco 1s infinite;
            animation-delay: 1.5s;
        }

        & path:nth-child(12) {
            transform-origin: center center;
            animation: scale-stars 1.5s infinite,
                disco 1s infinite;
            animation-delay: 2s;
        }
    }
}

@keyframes disco {

    0%,
    100% {
        fill: $logo-pink;
        stroke: none;
    }

    50% {
        fill: $logo-purple;
    }

    25% {
        fill: $logo-green;
    }

    75% {
        fill: $logo-yellow;
    }
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;
    gap: 20px;
    background-color: $black-50;
    border-radius: 12px;
    border-bottom: 1px solid $purple;
    box-shadow: $shadow-box-bright;
    z-index: 100;

    >h2 {
        font-weight: 600;
        font-size: 24px;
        text-align: center;
    }

    .content {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }
}