@use '@/shared/styles' as *;

.list {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid $white-op10;
    border-top: 1px solid $white-op10;

    >span {
        align-self: center;
        justify-self: center;
        text-align: center;
        margin-block: auto;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
}