@import '@styles';

.form {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 48px auto;

    >button {
        width: 140px;
    }
}

.inputsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding: 24px 16px;
    gap: 20px;
    border-radius: 12px;

    >div:nth-child(1),
    >div:nth-child(2) {
        margin-bottom: 30px;
    }

    >div:nth-child(4) {
        margin-top: 30px;
    }




    .infoContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        color: $dark-grey;
        align-self: flex-start;
        padding: 5px 46px;
        white-space: nowrap;
        gap: 8px;
    }
}

.inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    input[type="date"] {
        position: relative;
        padding-right: 5px;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;
    }

    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-clear-button {
        z-index: -10;
    }
}

.input,
.textarea {
    width: 100%;
    height: 60px;
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding: 15px;
    border: 4px solid $deep-purple;
    border-radius: 12px;
    background-color: transparent;
    box-shadow: $borderShadow;
    color: $dark-grey;

    &::placeholder {
        color: $xx-light-purple;
    }

    &:focus {
        border: 4px solid $dark-grey;
        transition: border-color 0.3s ease;
    }

    // &:read-only {
    //     background-color: $light-grey;
    //     color: $grey;
    //     border-color: $grey;
    //     cursor: not-allowed;

    //     &::placeholder {
    //         color: $grey;
    //     }
    // }
    &_shorts {
        width: 100%;
    }
}

.textarea {
    resize: none;
    height: 84px;
}

.label {
    position: absolute;
    left: 24px;
    top: -9px;
    line-height: 19px;
    padding-bottom: 16px;
    color: $purple;
    background-color: $white;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 6px;
    z-index: 100;

    &_readOnly {
        color: $dark-grey;
        background-color: $white;
        opacity: 0.95;
    }
}

.error {
    position: absolute;
    top: 100%;
    left: 0;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 50px;

    &>button {
        width: 140px;
    }
}