@import '@styles';

.form {
    width: clamp(200px, 100%, 420px);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-inline: clamp(5px, 5vw, 30px);
    gap: 30px;

    Button {
        width: 100%;
        margin-top: 10px;
    }

    .title {
        font-family: inherit;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.05px;
        text-align: center;
        color: $white;
        margin-top: 50px;
    }
}

.inputsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $black-70;
    padding: 40px 5%;
    gap: 20px;
    border-radius: 20px;
}

.rowWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: center;
    gap: 16px;

}

.inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2px;

    input[type="date"] {
        font-family: inherit;
        position: relative;
        padding-right: 5px;
        color: transparent;
    }

    input[type="date"]:invalid {
        color: transparent;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;
    }

    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-clear-button {
        z-index: -10;
    }

    input[type="date"]:before {
        content: attr(placeholder) !important;
        color: $dirty-green-op80; // Цвет placeholder'а
        position: absolute;
        left: 30px; // Соответствует padding-left инпута
    }

    // Когда значение выбрано или инпут в фокусе
    input[type="date"]:focus,
    input[type="date"]:valid {
        color: $white; // Возвращаем цвет текста
    }

    input[type="date"]:focus:before,
    input[type="date"]:valid:before {
        content: "dd-mm-yyyy" !important;
    }


    input[type="date"] {
        position: relative;
        background-color: $black-70;
        padding: 20px 5px 2px 30px;
        color: $white;

        &::-webkit-datetime-edit,
        &::-webkit-inner-spin-button,
        &::-webkit-calendar-picker-indicator {
            opacity: 0;
        }

        &::-webkit-datetime-edit-fields-wrapper {
            position: relative;
            opacity: 0.1;
        }

        &::-webkit-datetime-edit {
            position: relative;
            opacity: 0;
        }

        &::after {
            opacity: 1;
            content: attr(placeholder);
            position: absolute;
            top: 20px;
            left: 30px;
            color: $dirty-green-op80;
            pointer-events: none;

        }

        &:focus::before,
        &:valid::before {
            opacity: 0;
        }

        &:focus::-webkit-datetime-edit,
        &:valid::-webkit-datetime-edit {
            opacity: 1;
            color: $white;
        }

        &:focus::-webkit-calendar-picker-indicator,
        &:valid::-webkit-calendar-picker-indicator {
            opacity: 0;
        }
    }

}

.input,
.textarea {
    @include Input;

    &_short {
        padding: 0 0 0 0px;
        text-align: center;
        overflow: scroll;
        width: clamp(120px, 100%, 250px);
    }
}

.textarea {
    resize: none;
    overflow: auto;
}

.label {
    font-size: 12px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: $grey;
}

.error {
    position: absolute;
    top: 100%;
    left: 0;
    color: red;
    font-size: 10px;
    margin-top: 5px;
}