@use '@/shared/styles' as *;

.inputWrapper {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2px;

    input[type='date'] {
        @include InputDate;
        color: $purple;

        // Try to change placeholder styles (unsuccessfully)
        // position: relative;
        // background-color: $black-70;
        // color: $white;

        &::-webkit-datetime-edit,
        &::-webkit-inner-spin-button,
        &::-webkit-calendar-picker-indicator {
            opacity: 0;
            color: $purple;
        }

        &::-webkit-datetime-edit-fields-wrapper {
            position: relative;
            opacity: 0.4;
        }

        &::-webkit-datetime-edit {
            position: relative;
            opacity: 1;
            color: $white;
        }

        &:invalid::before {
            opacity: 1;
            content: attr(placeholder);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 30%;
            left: 0%;
            color: $dirty-green-op80;
            pointer-events: none;
        }

        &:focus::before,
        &:valid::before {
            opacity: 1;
            color: $white;
            //content: '';
        }

        &:focus::-webkit-datetime-edit-fields-wrapper,
        &:valid::-webkit-datetime-edit-fields-wrapper {
            opacity: 1;
            color: $purple;
        }
    }
}

.input,
.textarea {
    @include Input;

    &_short {
        padding: 0;
        text-align: center;
        overflow: scroll;
        width: 130px;
    }

    &_disabled {
        cursor: not-allowed !important;
        opacity: 0.1 !important;
    }
}

.textarea {
    width: 100%;
    height: 60px;
    resize: none;
    overflow: auto;
}

.label {
    @include Label;
}

.error {
    @include ErrorMessage($size: 10px, $align: left);
    top: 100%;
    left: 0;
}