@import './index.scss';

:root {
  --background: black;
  --font-color: rgba(246, 255, 251, 1);
  --font-color-alt: rgba(19, 29, 25, 1);
  --bgOpacity: #ffffff09;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: url('../../public/background_first.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background);
  margin: 0 auto;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

body {
  max-width: 430px;
  height: 100vh;
  margin: 0 auto;
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* Scroll */
  /* Scroll for Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(145, 153, 243, 0.084) var(--bgOpacity);

  /* Scroll for Chrome, Safari */
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: var(--bgOpacity);

    &:hover {
      background: none;
    }
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(145, 153, 243, 0.084);
    border-radius: 2px;

    &:hover {
      background: var(--background);
    }
  }

  /* visual borders for dev mode */
  //background: var(--bgOpacity);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  @include ResetButton;
  color: var(--font-color-alt);
}