//colors
$white-basic: rgba(255, 255, 255, 1);
$white: rgba(249, 246, 255, 1);
$black: rgba(19, 29, 25, 1);
$black-70: rgba(30, 36, 33, 0.635);
$lemon-neon: rgba(221, 251, 208, 1);
$light-green-neon: rgba(191, 251, 226, 1);
$green-neon: rgba(164, 245, 211, 1);
$cyan-neon: rgba(169, 244, 250, 1);
$brown: rgba(255, 228, 228, 1);
$grey: rgba(213, 213, 213, 1);

//box shadow
$shadow-box-bright: 0px 0px 4px 0px rgba(191, 251, 226, 1);
$shadow-box-light: 1px 2px 6px 0px rgba(224, 245, 236, 0.2);
$shadow-box-button: 1px 1px 6px 0px rgba(224, 245, 236, 0.2), 0px 2px 4px 0px rgba(19, 29, 25, 0.4) inset;
//gradient
$gradient-main-bg: linear-gradient(90deg, #DDFBD0 0%, #BFFBE2 49.5%, #A9F4FA 100%);
$gradient-main-border: linear-gradient(90deg, #DDFBD0 0%, #BFFBE2 49.5%, #A9F4FA 100%);

//buttons
$border-input: 2px solid $gradient-main-border;
$border-input-accent: 2px solid $white;