@use '@/shared/styles/mixins' as *;

.wrapper,
.wrapperError {
    @include Flex ($direction: row);
    min-height: 40px;
    max-width: 70vw;
    padding: 20px 10px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid $logo-yellow;
    color: $logo-yellow;
    background-color: $black-deep;
    box-shadow: 0px 0px 10px 0px $white;
}

.wrapperError {
    @include Flex;
    background-color: $red-dark;
    color: $white;
    font-weight: 600;
    border: 2px solid transparent;
}