@import '@styles';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 15px 20px;
    background-color: $black-70;
    border-bottom: 1px solid $purple;
    border-radius: 8px;
    transition: ease all 0.1s;
    //opacity: 0.6;
    cursor: pointer;

    >:nth-child(2) {
        gap: 0;
        padding-inline: clamp(10px, 6vw, 40px);
    }

    &__active {
        opacity: 1;
        box-shadow: $shadow-box-perimeter;
        border-bottom: 1px solid $light-green-neon;
        padding-block: 25px;

        >:nth-child(2) {
            gap: 0;
            padding-inline: 0px;
        }
    }
}

.rowWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}

.period {
    font-size: 12px;
    color: $grey;
    align-self: center;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 19.07px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: rgba(42, 44, 58, 1);
    border-radius: 8px;
    padding: 5px 10px;

    flex: 1;
    margin-right: 10px;

}