 @import '@styles';

 .dialog {
     width: 280px;
     height: 360px;
     position: fixed;
     inset: 50% auto auto 50%;
     border: 2px solid $purple;
     border-radius: 20px;
     color: $white;
     background-color: $black-70;
     backdrop-filter: blur(50px);
     transform: translate(-50%, -50%);

     &[open] {
         display: flex;
         justify-content: center;
         align-items: center;
     }
 }

 .content {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: stretch;
     gap: 20px;
     height: 100%;
     padding: 40px 20px 20px;

     >button {
         position: absolute;
         max-width: 50px;
         top: 10px;
         right: 10px;
         border: none;
         background: none;
         cursor: pointer;

         &:focus {
             outline: none;
         }

         &:hover {
             transform: scale(1.1);
         }
     }
 }

 // DELETE
 .wrapper {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;

     span {
         color: $purple;

         &::after,
         &::before {
             content: '"';
         }
     }

     p {
         width: 100%;
         margin: 20px;
     }

     button {
         margin-top: auto;
         padding: 15px;
     }
 }