 @use '@/shared/styles' as *;

 .dialog {
     width: 280px;
     height: 360px;
     position: fixed;
     padding: 30px;
     inset: 50% auto auto 50%;
     border: 2px solid $purple;
     border-radius: 20px;
     color: $white;
     background-color: $black-70;
     backdrop-filter: blur(50px);
     box-shadow: $drop-shadow-purple;
     transform: translate(-50%, -50%);
     z-index: 100;

     &[open] {
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .content {
         padding-top: 30px;
         width: 100%;
         height: 100%;
     }

     >section>button {
         position: absolute;
         max-width: 50px;
         top: 10px;
         right: 10px;
         border: none;
         background: none;
         cursor: pointer;

         &:focus {
             outline: none;
         }

         &:hover {
             transform: scale(1.1);
         }
     }

 }

 .transparent {
     width: auto;
     height: auto;
     border: 1px solid $logo-yellow;
     background: transparent;
     box-shadow: $shadow-box-bright-orange;

     .content {

         margin-bottom: 30px;
     }
 }



 // DELETE
 .wrapper {

     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;

     span {
         color: $purple;

         &::after,
         &::before {
             content: '"';
         }
     }

     p {
         width: 100%;
         margin: 20px;
     }

     button {
         margin-top: auto;
         padding: 15px;
     }
 }

 .error {
     position: absolute;
     width: 100%;
     bottom: 50px;
     left: 0;
     color: $red;
     font-size: 12px;
     margin-block: 5px;
     text-align: center;
 }